<p> mi primer app angular</p>

{{title}}

<div>la suma de 2 y 2 {{2+2}}</div>

<div>
  el doble de 3 es {{duplicarNumero(3)}}
</div>

<h2>Portatil</h2>
<div *ngIf="!portatiles">
  <img src="../assets/Media/Gif/loading.gif" />
  
</div>
<div *ngIf="portatiles?.length===0"> <!-- el operador interrogante nos permite evitar el error de undefined -->
  <p>No hay equipos para mostr
</div>

<div *ngIf="portatiles && portatiles.length > 0">
  <div *ngFor="let portatil of portatiles;let index = index" class="portatiles-contenedor">
    <div>
      Portatil: {{index}}:{{portatil.marca }}

    </div>
    <div>{{portatil.fechaLanzamiento | date:"dd-mm-yyyy"}}</div>
    <div>{{portatil.precio | currency}}</div>
  </div>
</div>



